{% extends "base.html" %}

{% block content %}

  <h1 class="h1">
    TODO List
    <a href="{% url 'todo:task-create' %}" class="btn btn-primary link-to-page float-right">
      Add task
    </a>
  </h1>

  {% if task_list %}

      {% for task in task_list %}
        <div>
          <div class="name">
            <strong>{{ task.content }}</strong>
            {% if task.done %}
              <span class="done"><strong>Done</strong></span>
          <a href="{% url 'todo:change_state' pk=task.id %}?next={{ request.get_full_path }}" class="btn btn-secondary link-to-page float-right">
            Undo
          </a>

            {% else %}
            <span class="not-done"><strong>Not done</strong></span>
            <a href="{% url 'todo:change_state' pk=task.id %}?next={{ request.get_full_path }}" class="btn btn-success link-to-page float-right">
              Complete
            </a>
            {% endif %}
          </div>

          <p> Created {{task.datetime}}
            {% if task.done %}
              <span class="not-done"><strong>{{ task.deadline }}</strong></span>
            {% endif %}</p>
          <p>
            <span class="tag">
          Tags:
            {% for tag in task.tags.all %}
            {{ tag.name}}
            {% endfor %}
            </span>
            <a href="{% url 'todo:task-update' pk=task.id %}">Update</a>
            <a href="{% url 'todo:task-delete' pk=task.id %}">Delete</a>
          </p>
          <hr>
        </div>

      {% endfor %}

  {% else %}
    <p>There are no cars in taxi</p>
  {% endif %}
{% endblock %}
